
<!--Contacts Tab--> 
<h1 class="text-project">Contacts</h1>

<!--Main-->
<section class="send-section">
<div class="container">
  <form action="https://formspree.io/thefreelancingproject@gmail.com" method="POST">
    <ul class="flex-outer">
      <li>
        <label for="first-name">First Name</label>
        <input type="text" required id="first-name" name="first-name" placeholder="Enter your first name here">
      </li>
      <li>
        <label for="last-name">Last Name</label>
        <input type="text" required id="last-name"  name="last-name" placeholder="Enter your last name here">
      </li>
      <li>
        <label for="email">Email</label>
        <input type="email" required  id="email" name="email" placeholder="Enter your email here">
      </li>
      <li>
        <label for="phone">Phone</label>
        <input type="tel" required id="phone"  name="phone" placeholder="Enter your phone here">
      </li>
      <li>
        <label for="message">Message</label>
        <textarea rows="6" id="message" required name="message" placeholder="Enter your message here"></textarea>
      </li>
      <li>
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>
</div>
</section>
