<!--Our Projects Stripe-->
<section class="galery">
    <h1 class="text-project">Our Projects</h1>
         
<!--Complex Galery Start-->
    <div class="galery-img"> 
     <div class="restrict three">    
        <div class="container">
            <img src="assets/project1.PNG" class="p-img">
        <div class="overlay">
            <div class="text small"><span>We work for the future!</span><br>We use the latest technologies that can make your website reliable.</div>
            </div>
        </div>
    </div>
    <div class="restrict three">    
        <div class="container">
            <img src="assets/project2.PNG" class="p-img">
        <div class="overlay">
            <div class="text small"><span>Our websites are Responsive!</span><br>That means they can be viewed on any screen.</div>
            </div>
        </div>
    </div>

    <div class="restrict three">    
        <div class="container">
            <img src="assets/project3.PNG" class="p-img">
        <div class="overlay">
            <div class="text"><span>Popular Frameworks are used to create more complex creations.</span></div>
            </div>
        </div>
    </div>

    <div class="restrict">    
        <div class="container">
            <img src="assets/project4.PNG" class="p-img">
        <div class="overlay">
            <div class="text big"><span>We can do everything!</span><br>From websites to blogs and forums.</div>
            </div>
        </div>
    </div>

    <div class="restrict">    
        <div class="container">
            <img src="assets/project5.PNG" class="p-img">
        <div class="overlay">
            <div class="text big"><span>You decide the layout - We create it for you!</span></div>
            </div>
        </div>
    </div>

    <div class="restrict three">    
        <div class="container">
            <img src="assets/project6.PNG"  class="p-img">
        <div class="overlay">
            <div class="text"><span>We work with Databases!</span><br> Want a Registration form - No problem!</div>
            </div>
        </div>
    </div>

    <div class="restrict three">    
        <div class="container">
            <img src="assets/project7.PNG" class="p-img">
        <div class="overlay">
            <div class="text"><span>The development of our websites.</span></div>
            </div>
        </div>
    </div>

    <div class="restrict three">    
        <div class="container">
            <img src="assets/project8.PNG" class="p-img">
        <div class="overlay">
            <div class="text"><span>We offer 24 hour support.<br>Just e-mail us.</span></div>
              </div>
            </div>
        </div>
    </div>
<!--Complex Galery End-->
     
     <!--Mobile Galery-->
 <div class="galery-mobile">
        <img class = "m-img" src="assets/project1.PNG"/>
         <div class="transform"><span>We work for the future!</span><br>We use the latest HTML and CSS that can make your website reliable.</div>
        <img class = "m-img" src="assets/project2.PNG"/>
         <div class="transform"><span>Our websites are Responsive!</span><br>That means they can be viewed on any device with a screen.</div>
        <img class = "m-img" src="assets/project3.PNG"/>
         <div class="transform"><span>Popular Frameworks are used to create more complex creations.</span></div>
        <img class = "m-img" src="assets/project4.PNG"/>
         <div class="transform"><span>We can do everything!</span><br>From websites to blogs and forums.</div>
        <img class = "m-img" src="assets/project5.PNG"/>
          <div class="transform"><span>You decide the layout - We create it for you!</span></div>
        <img class = "m-img" src="assets/project6.PNG"/>
         <div class="transform"><span>We work with Databases!</span><br> Want a Registration form - No problem!</div>
        <img class = "m-img" src="assets/project7.PNG"/>
         <div class="transform"><span>The development of our websites.</span>
         </div>
        <img class = "m-img" src="assets/project8.PNG"/>
         <div class="transform"><span>We offer 24 hour support.<br>Just e-mail us.</span></div>
 </div>
     <!--Mobile Galery End-->
     </section>
