<!--Home Tab--> 
<h1 class="text-project">Home</h1>
<!--End-->
<!--Introduction-->
<div class="scroll-text">
  <div class="s-white">
    <img  class = "king" src="../../assets/king.png"/>
  <div class="stiff">
  <h2 style="text-align:center;">{{heading}}</h2>
  <p>
    We offer websites from the future. Our developers are young and trained professionals, with unique ideas,
    that can make your website stand out and be reliable. Not only it can last a long time but it is easily maintainable.
    If you would like to add something in the future, they can do it. There isn't a limit on what you can add or remove.
    You will be amazed by their great work.Let them create your website now!
  </p>
  <a [routerLink]="['/contacts']">Contact us!</a>
  </div>
    
  </div>
</div>


<div class="parallax-img"></div>

<!--Letter-->
         <section class = "mail-section">
             <div class = "letter">
            <h2>Hi there!</h2>
            <p>We are a small group of people working together to bring you cheap and profession websites, blogs, ect.
               But how can you get so many for so little you ask. Well that is why we are freelancers, meaning we dictate prices, market, and quality.
               We can insure that only you can set our limits. Tell us how your own website want to look like and we will do it just like you want.
            </p>
            <h5>PS:"Quality is over quantity"</h5>
             </div>
         </section>
<!--End of letter-->

<div class="parallax-img"></div>

<!--Convinced?-->
    <section class="scroll-text-two">
        <h2>Still not convinced?</h2>
        <p>We empower ourselves with quotes.</p>
        <p>This is our favourite one:</p>
        <h3>&quot;The only time<br> you ever<br>look back,<br>is to see how<br>far you've come&quot;</h3>
    </section>